@tailwind base;
@tailwind components;
@tailwind utilities;

.Vue-Toastification__toast--default.custom-toast-success {
  background-color: hsl(140, 41%, 54%);
}
.Vue-Toastification__toast--default.custom-toast-error {
  background-color: rgb(207, 37, 37);
}
.Vue-Toastification__toast--default.custom-toast-info {
  background-color: rgb(192, 192, 192);
}
/* .Vue-Toastification__toast-body.custom-body {
  font-size: 20px;
} */